@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles pour le drag & drop */
.draggable-source { cursor: grab; }
.draggable-source:active { cursor: grabbing; }